/*
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/

#project-title
{
     height: 50px;
     width: 100%;
     background: #4aa39b;
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     font-size: 26px;
     color: white;
     text-align: center;
     padding-left: 10px;
     padding-right: 10px;
}
#project-description
{
     box-sizing: border-box;
     width: 100%;
     padding: 20px;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
}
.project-section
{
     padding-left: 20px;
     padding-right: 20px;
     margin-top: 40px;
}
.project-section p
{
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     font-size: 18pt;
     color: black;
     margin-top: 0;
     margin-left: 0;
     margin-right: 0;
     margin-bottom: 10px;
}
.header
{
     border-bottom: 5px solid #4aa39b;
     padding-bottom: 15px;
     font-weight: bold;
     font-size: 14pt;
}
.project-table
{
     border: 5px solid #4aa39b;
     width: 100%;
}
.project-section .regrow:hover, .project-section .regrow-active
{
     background: #AAAAAA;
}
.project-section .regcell
{
     border: none;
     border-collapse: collapse;
     cursor: default;
}
#member-perms-buttons
{
     float: right;
     margin-top: 5px;
}
#member-perms-buttons .button
{
     float: left;
     cursor: pointer;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
     font-size: 10pt;
     color: #f36f01;
     margin-left: 10px;
}
#project-members-buttons
{
     float: right;
     margin-top: 5px;
}
#project-members .button
{
     float: left;
     cursor: pointer;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
     font-size: 10pt;
     color: #f36f01;
     margin-left: 10px;
}
#project-members .disabled
{
     color: F2B07B;
     cursor: default;
}

#project-your-tasks-btns
{
     float: right;
     font-size: 10pt;
     color: #f36f01;
     margin-top: 5px;
}

#project-all-tasks-btns
{
     float: right;
     margin-top: 5px;
}
#project-all-tasks-btns .button
{
     float: left;
     cursor: pointer;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
     font-size: 10pt;
     color: #f36f01;
     margin-left: 10px;
}
#project-all-tasks-btns .disabled
{
     color: F2B07B;
     cursor: default;
}
