<!--
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->


<head>
     {{#each stylesheets}}<link rel="stylesheet" href="/styles/mobile/{{{this}}}">{{/each}}
     {{#each scripts}}<script src="/scripts/mobile/{{this}}"></script>{{/each}}
     <link rel="icon" type="image/png" href="/images/favicon.png">
     <title>Condor</title>
</head>
<body>
          <table id="wait-table" cellspacing="0" cellpadding="0">
               <tr>
                    <td>
                         <div id="wait-div"></div>
                    </td>
               </tr>
          </table>
          <div id="boigah" onclick="toggleSidebar()"></div>
          <div id="sidebar">
               <div id="user-info">
                    <table id="user-table">
                         <tr>
                              <td>
                                   <a href="/"><div id="user-team">Condor</div></a>
                                   <div id="user-id">Task Management Engine</div>
                                   <button type="button" class="nodisplay" onclick="logout()" id="logout">Logout</button>
                                   <a href="https://github.com/borishonman/condor-android/releases" id="app-downloads">Download the Android App!</a>
                              </td>
                              <td>
                                   <div class="nodisplay clickable" onclick="openMembersWindow()" id="togglemember"></div>
                              </td>
                         </tr>
                    </table>
               </div>
               <table style="width: 100%;" id="login-table" cellspacing="0" cellpadding="0">
                    <tr>
                         <td style="vertical-align: middle;">
                              <div id="login-div"></div>
                         </td>
                    </tr>
               </table>

               <div class="sidebar-list" id="projects">
                    <table cellspacing="0" cellpadding="0"><tr>
                         <td class="nodisplay" id="projects-title"><h2>{{projects-title}}</h2></td>
                         <td><div class="nodisplay clickable" onclick="createProject()" id="projects-create"></div></td>
                         <td><div class="nodisplay clickable" onclick="deleteProject()" id="projects-delete"></div></td>
                    </tr></table>
                    <ul>
                    </ul>
               </div>
          </div>
          <div id="content">
               {{{pagecontent}}}
          </div>
</body>
