/*
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/

#login-page
{
     text-align: center;
}
#login-page h1
{
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     background-color: #4AA39B;
     color: white;
}
#login-table
{

}
#login-table tr
{
     vertical-align: middle;
}
#login-form
{
     text-align: center;
}
#login-form table
{
     margin-bottom: 20px;
}
#login-form input
{
     border: 4px solid #4AA39B;
     background-color: #DDDDDD;
     outline: none;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
     text-align: center;
}
#login-form button[type=submit]
{
     background-color: #4AA39B;
     border: none;
     cursor: pointer;
     text-decoration: none;
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     color: white;
}
