/*
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/

@font-face
{
     font-family: Boogaloo;
     src: url('/fonts/Boogaloo-Regular.otf');
}

body
{
     margin: 0;
     padding: 0;
     font-family: "Trebuchet MS",Tahoma,Verdana,sans-serif;
}
a
{
     text-decoration: none;
     color: black;
}
.nodisplay
{
     display: none;
}
#projects-create
{
     float: right;
     width: 20px;
     height: 20px;
     background: url('/images/create.svg');
     background-size: cover;
}
#projects-delete
{
     float: right;
     width: 20px;
     height: 20px;
     background: url('/images/delete.svg');
     background-size: cover;
}

#wait-table
{
     position: absolute;
     z-index: 1000;
}
#wait-table td
{
     vertical-align: middle;
     text-align: center;
}
#wait-div
{
     background-size: cover;
     margin: auto;
}
#boigah
{
     background-image: url('/images/close.svg');
     background-size: cover;
     position: absolute;
     z-index: 500;
}

#sidebar
{
     position: absolute;
}

#sidebar h2
{
     margin: 0;
     color: #6b3001;
}
.sidebar-list
{
     margin-top: 30px;
     color: #6b3001;
}
.sidebar-list table
{
     width: 100%;
}
.sidebar-list ul
{
     margin-left: -10px;
     margin-right: -10px;
     padding: 0;
     list-style: none;
}
.sidebar-list li
{
     margin: 0;
     padding-top: 5px;
     padding-bottom: 5px;
     padding-left: 15px;
}
.sidebar-item:hover, .sidebar-item-active
{
     background: #e7e247;
}

#user-id
{
     color: #6b3001;
}

#pagetable
{
     width: 100%;
     height: 100%;
}
#pagetable tr
{
     vertical-align: top;
}
#sidebar
{
     background-color: #f36f01;
     width: 100%;
     height: 100%;
}
#sidebar h1
{
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
}
#user-table
{
     width: 100%;
     text-align: center;
}
#user-table button
{
     background-color: #4AA39B;
     border: none;
     cursor: pointer;
     text-decoration: none;
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     color: white;
     margin-top: 20px;
}
#app-downloads
{
     font-size: 28pt;
     color: black;
     font-family: "Boogaloo",Tahoma,Arial,sans-serif;
     display: block;
     margin-top: 10px;
     text-decoration: underline;
}
#content
{
     width: 100%;
     height: 100%;
}
