<!--
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->

<table id="home-table" cellspacing="0" cellpadding="0">
     <tr>
          <td>
               <div id="home-text">
                    <h1>Welcome to Condor!</h1>
                    <h2>Please select a project from the sidebar to continue.</h2>
                    <h2>NOTE: If you have not been assigned any projects none will appear in the sidebar.</h2>
               </div>
          </td>
     </tr>
</table>
