<!--
This file is part of Condor.

Condor is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Condor is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
*/
-->
<div id="login-page">
     <h1>Log In</h1>
     <table id="login-table">
          <tr>
               <td>
                    <div id="login-form">
                         <table cellpadding="6px" style="margin: auto">
                              <tr>
                                        <td>Username:</td><td><input type="text" id="txt_username"></td>
                              </tr>
                              <tr>
                                        <td>Password:</td><td><input type="password" id="txt_password"></td>
                              </tr>
                         </table>
                         <button type="submit" onclick="login()" id="btn_login" text="Login">Login</button>
                    </div>
               </td>
          </tr>
     </table>
</div>
